.ModifyChange {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid black;
    height: 500px;
    max-width: 900px;
    position: relative;
    top: 120px;
  }
  
  .ModifyChange p {
    margin-top: 10px;
  }
  
  .ModifyChange table {
    border: 1px solid black;
    height: 300px;
    width: 850px;
    font-size: 20px;
    margin-top: 40px;
    padding: 5px 12px;
  }
  
  .ModifyChange table th {
    border-bottom: 1px solid black;
    background-color: rgb(121, 182, 161);
  
    width: 434px;
    height: 50px;
  }
  
  .ModifyChange table td {
    border-bottom: 1px solid black;
    width: 500px;
    text-align: center;
  }
  
  .ModifyChange input[type="text"] {
    width: 350px;
    height: 50px;
    padding: 5px 12px;
    outline: none;
    border: 1px solid black;
    margin: auto 0px auto 10px;
  }
  
  .ModifyChange input:focus {
    border: 2px solid blue;
    padding: 5px 11px;
    height: 50px;
  }
  
  .ModifyChange input[type="button"] {
    background-color: rgb(255, 255, 255);
    padding: 8px 30px;
    color: black;
    border: 2px solid steelblue;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: -60px;
  }
  
  .ModifyChange input[type="button"]:hover {
    background-color: cadetblue;
  
    color: white;
  }
  .ModifyChange1 {
    margin: 20px 0px 0px 780px;
  }
  
  .ModifyChange1 input[type="button"] {
    background-color: rgb(235, 233, 225);
    border: 1px solid black;
    border-radius: 0px;
  }
  
  .ModifyChange1 input[type="button"]:hover {
    background-color: rgb(235, 233, 225, 0.5);
    color: rgb(0, 0, 0);
  }