.MyPage_List {
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  align-items: center;
  border: 0px solid black;

  height: 700px;
  max-width: 800px;

  position: relative;
  top: 120px;
}
.MyPage_List > table {
  border: 4px solid black;
  background-color: rgb(255, 255, 255);
}
.MyPage_List > table > tr > td {
  list-style: none;
  text-align: center;
  border: 1px solid black;
}
.MyPage_List > table > tr > td div > li {
  color: black;
  padding: 5px 0;
  text-decoration: none;
}

.MyPage_List > table > tr > td:hover {
  color: white;
  background-color: rgb(139, 196, 219);
  border-radius: 60%;
}