.PasswordModify {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    height: 700px;
    max-width: 900px;
    position: relative;
    top: 120px;
    padding: 40px 0;
  }
  
  .PasswordModify1 {
    background-color: rgb(223, 223, 223);
    width: 90%;
    height: 350px;
    border: 1px solid black;
  
    margin: 80px auto 20px auto;
  }
  
  .PasswordModify1 input:nth-child(1) {
    margin-top: 50px;
  }
  
  .PasswordModify1 p {
    margin-left: 110px;
  }
  
  .PasswordModify1 input {
    width: 400px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    margin: 0px 10px 0px 50px;
    padding: 5px 11px;
  }
  
  .PasswordModify1 input:focus {
    border: 2px solid blue;
    padding: 5px 11px;
    height: 50px;
  }
  
  .PasswordModify button {
    background-color: rgb(255, 255, 255);
    padding: 8px 30px;
    color: black;
    border: 2px solid steelblue;
  
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .PasswordModify button:hover {
    background-color: cadetblue;
    box-shadow: 5px 5px 5px, -5px -5px 5px;
    color: white;
  }